/* 404.html -> Especifico el estilo de las diferentes partes del documento HTML 404.html */

/* Centro el contenido de la página 404 en pantalla sin scroll */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;          /* La altura completa de la pantalla */
  overflow: hidden;       /* Evita el scroll */
}

/* Contenedores */

.body404 {
  height: 100vh;
  display: grid;
  place-items: center;  
  text-align: center;
  overflow: hidden;
  padding: 150px 0;

  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}   

.header404 {
  font-family: 'Skranji';
  font-size: 80px;
  text-align: center;
 }

.back-btn-404 {
   font-family: 'Skranji';
   font-size: 50px;
   text-align: center;
   margin-top: 20px;
}

/**/
  


