/* Código de tipografías de Google Fonts u otros proveedores web -> Método @IMPORT */

@import url("https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap");

/* Usar un cursor personalizado con una imagen */

html {
  cursor: url("../assets/images/cursorazul.png"), auto;
}

/**/

.skranji-regular {
  font-family: "Skranji", serif;
  font-weight: 400;
  font-style: normal;
}
.skranji-bold {
  font-family: "Skranji", serif;
  font-weight: 700;
  font-style: normal;
}

/**/

/* AJUSTES DE ETIQUETAS GENERALES */

h2 {
  font-size: 1.5 rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
}

/**/

/* HEADER -> Ajustes del navbar */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  align-items: center;
  margin-top: 20px;
  padding: 0;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  font-weight: bold !important;
  color: #8797a4;
  align-items: center;
  margin: 0;
}

.logo a {
  text-decoration: none;
  color: #8797a4; /* Color del texto normal */
  padding: 0px 40px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  font-weight: normal;
}

.logo a:hover {
  font-weight: bold; /* Cambia a negrita */
}

.nav-buttons {
  display: flex;
  gap: 40px; /* Espacio entre los dos botones */
  box-sizing: border-box;
  font-weight: normal;
  padding: 0px 40px;
}
.nav-buttons a {
  text-decoration: none;
  color: #8797a4; /* Color del texto normal */

  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  font-weight: normal;
}

.nav-buttons a:hover {
  font-weight: bold; /* Cambia a negrita */
}

.info_button {
  font-weight: bold !important;
}

.work_button {
  font-weight: bold !important;
}

/**/

/* BODY -> Ajustes de la frase CTA de la página principal */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  color: #7b7b7b;
  height: 100vh; /* Asegura que el body ocupe todo el alto de la pantalla */
}

.welcome {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center; /* Centrado horizontal */
  align-items: flex-end; /* Alineación al fondo */
  padding: 50px 40px; /* Margen vetical y horizontal */
  margin-bottom: 0; /* Elimina cualquier margen adicional */
  mix-blend-mode: color-burn;
  z-index: 10;
}

.text-container {
  display: grid;
  gap: 20px; /* Espaciado entre las columnas */
  font-size: 4rem;
  font-weight: 400;
  width: 100%; /* Extiende en todo el ancho */
  line-height: 1;
  flex-direction: column;
}

.text-container .greeting {
  grid-column: 1 / -1; /* La palabra "Hi!" ocupa todo el ancho */
  text-align: left; /* Alineada a la izquierda */
  font-size: 5rem;
  margin-bottom: 0; /* Sin márgenes adicionales para acercar al fondo */
}

/* INFO PAGE */

.infopage {
  height: 100vh; /* La altura completa de la pantalla */
  overflow: hidden; /* Evita el scroll */
  background-color: #f6f3ef;
}

.info_text {
  display: flex; /* Diseño de dos columnas */
  justify-content: space-between; /* Separa las columnas horizontalmente */
  align-items: flex-end; /* Alinea las columnas al borde inferior */
  max-width: 1920px;
  padding: 0 40px 40px; /* Margen inferior de 30px */
  font-family: Arial, sans-serif;
  color: #3c3c3c;
  line-height: 1.5;
  width: 100%; /* Ocupa todo el ancho */
  height: 100vh; /* La altura completa de la pantalla */
}

.info_lefttext,
.info_righttext {
  width: 48%; /* Define el ancho de cada columna */
  font-size: 1rem;
  line-height: 1.5;
  margin-right: 40px;
}

.info_righttext ul {
  list-style-type: none;
  margin-bottom: 30px;
  padding-left: 0;
  margin: 0;
}

.info_righttext li {
  margin-bottom: 10px;
}

/**/

/* WORK PAGE prueba */

.workpage {
  height: 100vh; /* La altura completa de la pantalla */
  overflow: hidden; /* Evita el scroll */
  background-color: #f6f3ef;
}
