/* Código de tipografías de Google Fonts u otros proveedores web -> Método @IMPORT */

@import url("https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap");

/* Usar un cursor personalizado con una imagen */

html {
  cursor: url("../assets/icons/cursor/cursornormal.png"), auto;
}

/* Cursor para elementos interactivos: enlaces y botones */
a,
button,
[role="button"],
.nav-buttons a {
  cursor: url("../assets/icons/cursor/cursormano.png"), pointer;
}

/**/

.skranji-regular {
  font-family: "Skranji", serif;
  font-weight: 400;
  font-style: normal;
}
.skranji-bold {
  font-family: "Skranji", serif;
  font-weight: 700;
  font-style: normal;
}

/**/

/* AJUSTES DE ETIQUETAS GENERALES */

h2 {
  font-size: 1.5 rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
}

/**/

/* HEADER -> Ajustes del navbar */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  align-items: center;
  margin-top: 30px;
  padding: 0;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;

  position: fixed; /* Fijar el header en la parte superior */
  top: 0; /* Asegura que esté en la parte superior de la pantalla */
  left: 0; /* Alinea el header al margen izquierdo */
  z-index: 1000; /* Asegura que el header esté encima de otros elementos */
}

.logo {
  font-weight: bold !important;
  color: #8797a4;
  align-items: center;
  margin: 0;
}

.logo a {
  text-decoration: none;
  color: #8797a4; /* Color del texto normal */
  padding: 0px 40px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  font-weight: normal;
}

.logo a:hover {
  font-weight: bold; /* Cambia a negrita */
}

.nav-buttons {
  display: flex;
  gap: 40px; /* Espacio entre los dos botones */
  box-sizing: border-box;
  font-weight: normal;
  padding: 0px 40px;
}
.nav-buttons a {
  text-decoration: none;
  color: #8797a4; /* Color del texto normal */

  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  font-weight: normal;
}

.nav-buttons a:hover {
  font-weight: bold; /* Cambia a negrita */
}

.info_button {
  font-weight: bold !important;
}

.work_button {
  font-weight: bold !important;
}

.contact_button {
  font-weight: bold !important;
}

/**/

/* BODY -> Ajustes de la frase CTA de la página principal */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  color: #4a4a4a;
  height: 100vh; /* Asegura que el body ocupe todo el alto de la pantalla */
}

.welcome {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center; /* Centrado horizontal */
  align-items: flex-end; /* Alineación al fondo */
  padding: 50px 40px; /* Margen vetical y horizontal */
  margin-bottom: 0; /* Elimina cualquier margen adicional */
  mix-blend-mode: color-burn;
  z-index: 10;
}

.text-container {
  display: grid;
  gap: 20px; /* Espaciado entre las columnas */
  font-size: 4rem;
  font-weight: 400;
  width: 100%; /* Extiende en todo el ancho */
  line-height: 1;
  flex-direction: column;
}

.text-container .greeting {
  grid-column: 1 / -1; /* La palabra "Hi!" ocupa todo el ancho */
  text-align: left; /* Alineada a la izquierda */
  font-size: 5rem;
  margin-bottom: 0; /* Sin márgenes adicionales para acercar al fondo */
}

/* INFO PAGE */

.infopage {
  height: 100vh; /* La altura completa de la pantalla */

  background-color: #f6f3ef;
}

.info_text {
  display: flex; /* Diseño de dos columnas */
  justify-content: space-between; /* Separa las columnas horizontalmente */
  align-items: flex-end; /* Alinea las columnas al borde inferior */
  max-width: 1920px;
  padding: 0 40px 40px; /* Margen inferior de 30px */
  font-family: Arial, sans-serif;
  color: #4a4a4a;
  line-height: 1.5;
  width: 100%; /* Ocupa todo el ancho */
  height: 100vh; /* La altura completa de la pantalla */
}

.info_lefttext {
  display: flex; /* Permite colocar elementos en fila o columna */
  flex-direction: column; /* Alinea elementos en columna */
  align-items: flex-end; /* Alinea a la izquierda por defecto */
  position: relative; /* Permite posicionar elementos hijos relativamente */
}

.info_lefttext .cuadrada {
  width: 300px; /* Tamaño de la imagen */
  height: 300px; /* Tamaño de la imagen */
  object-fit: cover; /* Asegura que la imagen no se deforme */
  float: right; /* Pega la imagen al margen derecho */
  margin-left: 0px; /* Añade un pequeño espacio entre la imagen y el texto */
  margin-bottom: 0px; /* Ajusta la separación inferior si es necesario */
}

.info_lefttext,
.info_righttext {
  width: 47%; /* Define el ancho de cada columna */
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 4px;
}

.info_righttext ul {
  list-style-type: none;
  margin-bottom: 30px;
  padding-left: 0;
  margin: 0;
}

.info_righttext li {
  margin-bottom: 10px;
}

/**/

/* WORK PAGE */

.workpage {
  height: 100vh; /* La altura completa de la pantalla */
  overflow: hidden; /* Evita el scroll */
  background-color: #f6f3ef;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: auto; /* Ajustar altura al contenido, si es necesario */
  text-align: right;
  position: absolute; /* Usar posicionamiento absoluto */
  bottom: 0; /* Pegar al margen inferior */
  left: 0; /* Pegar al margen izquierdo */
  margin-bottom: 80px; /* Eliminar márgenes adicionales */
  margin-left: 40px;
  margin-right: 40px;
  padding: 0; /* Asegurar que no haya relleno */
  box-sizing: border-box; /* Ajustar dimensiones correctamente */
}

/* estilos de cada Item */

.item h2 {
  margin: 0;

  font-size: 4.5rem;
  margin-bottom: 10px;
}

.item h6 {
  margin: 0;

  font-size: 1.7rem;
  margin: 8px 0 0;
  text-align: left;
}

.item p {
  font-size: 1rem;
  margin: 10px 0 0;
  color: #4a4a4a;
  text-align: left;
  font-weight: normal;
}

/* posicionamiento y organización de cada Item (apartado) del índice */

.item1 {
  color: #4a4a4a;
  font-size: 1.8rem;
  align-self: center; /* Alinear verticalmente */
  justify-self: end; /* Alinear horizontalmente */
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 320px;
  transition: color 0.3s ease; /* Transición suave */
}

.item2 {
  color: #4a4a4a;
  font-size: 1.6rem;
  margin-right: 82px; /* Ajusta para posición */
  align-self: center; /* Alinear verticalmente */
  justify-self: end; /* Alinear horizontalmente */
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-around;
  transition: color 0.3s ease; /* Transición suave */
}

.item3 {
  color: #4a4a4a;
  font-size: 2rem;
  margin-right: 105px;
  align-self: center; /* Alinear verticalmente */
  justify-self: end; /* Alinear horizontalmente */
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-around;
  transition: color 0.3s ease; /* Transición suave */
}

.item4 {
  color: #4a4a4a;
  font-size: 1.7rem;
  margin-right: 100px;
  align-self: center; /* Alinear verticalmente */
  justify-self: end; /* Alinear horizontalmente */
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-around;
  transition: color 0.3s ease; /* Transición suave */
}

* {
  box-sizing: border-box;
}

/* efecto cambio de color while HOVERING */

.item1:hover h2,
.item1:hover p {
  color: #8797a4; /* Color cuando el ratón está encima */
}

.item2:hover h2,
.item2:hover p {
  color: #8797a4; /* Color cuando el ratón está encima */
}

.item3:hover h2,
.item3:hover h6,
.item3:hover p {
  color: #8797a4; /* Color cuando el ratón está encima */
}

.item4:hover h2,
.item4:hover h6,
.item4:hover p {
  color: #8797a4; /* Color cuando el ratón está encima */
}

/* ajustes del link y su anulación de efecto */

.item-link {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Mantiene el color heredado */
  display: block; /* Permite que el enlace abarque todo el contenido */
  position: relative; /* Esto permite manipular el área de clic sin afectar el layout */
  z-index: 1; /* Asegura que esté por encima de otros elementos */
}

.item-link:after {
  content: ""; /* Crea un elemento invisible después del texto */
  position: absolute;
  top: -10px; /* Extiende el área hacia arriba */
  bottom: -10px; /* Extiende el área hacia abajo */
  left: -10px; /* Extiende el área hacia la izquierda */
  right: -10px; /* Extiende el área hacia la derecha */
  z-index: -1; /* Coloca el área extendida detrás del texto */
}

.desktop-only {
  display: inline; /* Mostrar normalmente en pantallas grandes */
}

.tablet-only {
  display: none; /* Ocultar en pantallas grandes */
}

/**/

/* Tablet: Landscape (768px to 1024px) */
@media (max-width: 1024px) {
  .item h2 {
    font-size: 3.5rem; /* Reduce the font size proportionally */
  }

  .item h6 {
    font-size: 1.3rem;
  }

  .item p {
    font-size: 0.9rem;
  }

  .item1 {
    font-size: 1.6rem; /* Reduce item font size proportionally */
    margin-right: 280px;
  }

  .item2 {
    font-size: 1.4rem;
  }

  .item3 {
    font-size: 1.8rem;
  }

  .item4 {
    font-size: 1.5rem;
  }

  .item1,
  .item2,
  .item3,
  .item4 {
    gap: 15px; /* Reduce gap between items */
  }

  .desktop-only {
    display: inline;
  }
  .tablet-only {
    display: none;
  }
}

/* Mobile: Portrait (up to 767px) */
@media (max-width: 767px) {
  .item h2 {
    font-size: 2.2rem; /* More reduced size for smaller screens */
  }

  .item h6 {
    font-size: 0.8rem; /* Even smaller size for mobile */
    margin: 6px 0 0;
  }

  .item p {
    font-size: 0.75rem; /* Small text size for mobile */
    margin: 6px 0 0;
  }

  .item1 {
    font-size: 1.2rem; /* Further reduce item font size */
    margin-right: 120px;
  }

  .item2 {
    font-size: 1rem;
  }

  .item3 {
    font-size: 1.4rem;
  }

  .item4 {
    font-size: 1.3rem;
    margin-right: 100px;
  }

  /* Adjust gap and margins for mobile */
  .container {
    margin-left: 20px; /* Reduce margin for smaller screens */
    margin-bottom: 40px; /* Reduce bottom margin */
  }

  .item1,
  .item2,
  .item3,
  .item4 {
    gap: 10px; /* Reduce gap between items */
  }

  .desktop-only {
    display: none;
  }
  .tablet-only {
    display: inline;
    font-size: 0.8rem; /* Even smaller size for mobile */
    margin: 6px 0 0;
    line-height: 1.2;
    text-align: left;
  }
}

/* O'LIVE WORK PAGE */

.olive_page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f3ef;
  color: #4a4a4a;
}

.main-content {
  padding: 70px 40px 40px; /* Space below the fixed header */
}

.intro-section {
  display: flex; /* Activa el diseño en fila */
  justify-content: space-between; /* Deja espacio entre el texto principal y los detalles */
  align-items: flex-start; /* Alinea los elementos desde arriba */
  gap: 20px; /* Espacio entre los bloques */
  margin: 0 auto; /* Centra la sección */
  position: relative; /* Para manipular la posición de la línea */
}

.intro-main-text {
  flex: 3; /* Ocupa más espacio que los detalles */
}

.vertical-line {
  width: 2px; /* Grosor de la línea */
  background-color: #8797a4; /* Color de la línea */
  position: absolute; /* Coloca la línea entre los textos */
  left: 70%; /* Posiciona la línea entre los dos bloques */
  bottom: 0;
  min-height: 70%;
}

.intro-details {
  flex: 1; /* Ocupa menos espacio */

  text-align: left; /* Alinea el texto a la izquierda */
  font-size: 0.9rem; /* Tamaño más pequeño para los detalles */
  line-height: 1.4; /* Espaciado entre líneas */
  margin-top: auto; /* Asegura que se alinee con la última línea del texto principal */
  margin-left: 175px;

  position: relative; /* Para poder manipular la línea */
}

/**/

/* Asegura que la línea tenga una altura igual a la de los detalles */
.intro-details {
  position: relative;
}

.intro-main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Main Content */

.intro-section h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.intro-section p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;

  text-align: left; /* Justifica el texto */
}

.details {
  font-size: 0.9rem;
  margin-top: 20px;
  color: #8797a4;
}

.image-section {
  text-align: center;
  margin-top: 40px;
}

.image-section .main-image {
  max-width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
  border: 2px solid #4a4a4a; /* Borde de 4px de grosor con color #8797a4 */
  border-radius: 10px; /* Bordes redondeados (opcional) */
  margin-bottom: 20px;
}

.noborder-image {
  max-width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
  border: transparent;
  border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 10px;
  margin-top: 10px;
}

.video-section {
  text-align: center;
  margin-top: 40px;
}

.video-section .main-video {
  max-width: 100%; /* El vídeo se adapta al contenedor */
  height: auto; /* Mantiene la proporción original */
  border: 2px solid #4a4a4a; /* Opcional: borde */
  border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 10px;
  margin-top: 10px;
}

.noborder-video {
  max-width: 100%; /* El vídeo se adapta al contenedor */
  height: auto; /* Mantiene la proporción original */
  border: transparent;
  border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Navigation Buttons */
.navigation {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.button {
  font-size: 1rem; /* Mantén el tamaño del texto igual */
  color: #8797a4;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.3s ease, font-weight 0.3s ease; /* Transición suave para el color y el grosor */
  text-transform: uppercase;
  display: flex; /* Usar flexbox para alinear el contenido */
  align-items: center; /* Centra la flecha y el texto verticalmente */
  text-decoration: none;
}

.button:hover {
  background: none; /* Elimina el fondo oscuro */
  color: #8797a4; /* Mantiene el color actual */
  font-weight: bold; /* Solo pone el texto en negrita */
}

.button:focus {
  outline: none;
}

/* Estilos para las flechas */
.button.prev::before {
  content: "←"; /* Flecha izquierda */
  font-size: 1.5rem; /* Tamaño más grande para la flecha */
  margin-right: 10px; /* Espacio entre la flecha y el texto */
  line-height: 1; /* Asegura que no haya desajuste de altura */
  margin-bottom: 3px;
}

.button.next::after {
  content: "→"; /* Flecha derecha */
  font-size: 1.5rem; /* Tamaño más grande para la flecha */
  margin-left: 10px; /* Espacio entre el texto y la flecha */
  line-height: 1; /* Asegura que no haya desajuste de altura */
  margin-bottom: 3px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .nav a {
    font-size: 0.9rem;
  }

  .intro-section h1 {
    font-size: 1.5rem;
  }

  .intro-section p {
    font-size: 0.9rem;
    max-width: 80%; /* Ajusta el texto a un ancho mayor en móvil */
  }

  .image-section h2 {
    font-size: 1.5rem;
  }

  .nav-button {
    font-size: 0.9rem;
  }
}
