:root {
  /* PRUEBA*/

  --fondito: hsl(164, 28%, 55%);

  /* THEME.css = MI PALETA DE COLORES PARA ESTE REPO */

  --background: hsl(0, 63%, 53%); /* FONDO, blanco crema, #FBF5EB*/
  --foreground: hsl(0, 0%, 0%); /* COLOR DE TEXTO ???, #000000 */

  --card: rgb(255, 255, 255); /* #D9C7BE */
  --card-foreground: hsla(209, 12%, 22%, 1); /* #323B42 */

  --popover: rgb(255, 255, 255); /* #D9C7BE */
  --popover-foreground: hsla(209, 12%, 22%, 1); /* #323B42 */

  --primary: rgb(255, 255, 255); /* FONDO de tarjetas, #635B58 */
  --primary-foreground: rgb(255, 255, 255); /* #FCFBF9 */

  --secondary: rgb(255, 255, 255); /* #A59B95 */
  --secondary-foreground: hsla(209, 12%, 22%, 1); /* #323B42 */

  --muted: hsla(24, 6%, 48%, 1); /* #8C817B */
  --muted-foreground: rgb(202, 202, 9); /* HIPERVÍNCULO (<a>), #FCFBF9 */

  --accent: hsla(28, 12%, 68%, 1); /* #B5A79F */
  --accent-foreground: hsla(16, 5%, 39%, 1); /* #635B58 */

  --destructive: rgb(255, 38, 0); /* #3B3634 */
  --destructive-foreground: rgb(255, 255, 255); /* #FCFBF9 */

  --border: hsla(28, 13%, 61%, 1); /* #A59B95 */
  --input: hsla(28, 12%, 68%, 1); /* #B5A79F */
  --ring: hsla(209, 12%, 22%, 1); /* #323B42 */

  /* COMBINACIONES CROMÁTICAS */
  .card {
    background-color: var(--card);
    color: var(--card-foreground);
  }
}
